.root {
  width: 100%;
  margin: 2em 0;
}

.root img {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .root {
    height: 90vh;
    text-align: center;
  }

  .root img {
    height: 100%;
    width: auto;
  }
}
