.root {
  position: absolute;
  width: 100%;
  background-color: #009999;
  display: flex;
  flex-direction: column;
  color: white;
}

.root.alternate {
  background-color: white;
  color: #009999;
  box-shadow: -2px -7px 52px 1px rgba(0, 0, 0, 0.75);
  border-top: 0;
}

.root.dark {
  background-color: #004747;
}

.info {
  font-size: 20px;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.copyright {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  background: url(/assets/images/greek-border-white.png);
  background-repeat: repeat space;
  width: 100%;
  height: 49px;
  margin-bottom: 1em;
}

.border.alternate {
  background: url(/assets/images/greek-border.png);
}

@media only screen and (min-width: 992px) {
  .root.stickybottom {
    bottom: 0;
  }
}
